@import "~bootswatch/dist/spacelab/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/spacelab/bootswatch";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

#github-ribbon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#game {
  position: relative;
  canvas#playground {
    background: grey;
  }
  #controls {
    position: absolute;
    right: 15%;
    bottom: -3%;
    & button {
      opacity: 0.6;
      border-radius: 50%;
    }
  }
}
