#github-ribbon {
  position: absolute;
  right: 0;
  top: 0;
}

#game {
  position: relative;
  canvas#playground {
    background: grey;
  }
  #controls {
    position: absolute;
    right: 15%;
    bottom: -3%;
    & button {
      opacity: 0.6;
      border-radius: 50%;
    }
  }
}
